<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Job Finder
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<style>
			.navbar-custom {
				background-color: #f8f9fa;
				border-radius: 15px;
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
				padding: 10px;
			}
			.navbar-brand {
				font-family: 'Arial', sans-serif;
				font-size: 1.5rem;
				font-weight: bold;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.navbar-brand svg {
				width: 40px;
				height: 40px;
				margin-right: 10px;
			}
			.nav-link {
				font-size: 1.1rem;
				margin-left: 15px;
				color: #000;
			}
			.nav-link:hover {
				color: #007bff;
			}
			.form-error {
				color: red;
				font-size: 0.9rem;
				margin-top: 0.25rem;
			}
		</style>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-light navbar-custom">
			<div class="container d-flex justify-content-between align-items-center">
				<a class="navbar-brand" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 400">
						<path d="M379.711,326.556L265.343,212.188c30.826-54.189,23.166-124.495-23.001-170.663c-55.367-55.366-145.453-55.366-200.818,0    c-55.365,55.366-55.366,145.452,0,200.818c46.167,46.167,116.474,53.827,170.663,23.001l114.367,114.369    c14.655,14.655,38.503,14.654,53.157,0C394.367,365.059,394.368,341.212,379.711,326.556z M214.057,214.059    c-39.77,39.771-104.479,39.771-144.25,0c-39.77-39.77-39.77-104.48,0-144.25c39.771-39.77,104.48-39.77,144.25,0    C253.828,109.579,253.827,174.29,214.057,214.059z"/>
					</svg>
					Job Finder
				</a>
				<div class="d-flex">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<a class="nav-link" href="{{ path('app_logout') }}">Wyloguj</a>
					{% else %}
						<a class="nav-link" href="{{ path('app_login') }}">Zaloguj się</a>
					{% endif %}
				</div>
			</div>
		</nav>

		<div class="container mt-4"> {% block body %}{% endblock %}
			</div>

			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
